body {
    background-color:FAF4F0;
    margin-right: 150px;
    margin-left: 80px;
  }
h1, h2, p, h3 {
    color:#183b20;
}
div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
  .col {
    column-width: 800px;
  }
 